.modal {
    display: none;
    position: absolute;
    top:0;
    left: 0;
    width: 100%;
    height: 100vh;
    overflow: hidden;
    background: rgba(0,0,0,0.5);
}
.modal .modalPopup {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 20px;
    background: #fff;
    border-radius: 20px;
    width: 400px;
    height: 500px;
    text-align: center;
    padding-top: 60px;
}
.modal .modalPopup h3 {
    margin-bottom: 20px;
}
.modal .modalPopup label {
    display: inline-block;
    width: 80px;
}
.modal .modalPopup .mName, .mDay {
    width: 250px;
}
.modal .modalPopup .writeArea {
    width: 250px;
    height: 200px;
}
.modal .modalPopup .btnWrap {
    text-align: right;
    margin-top: 10px;
    margin-right: 23px;
}
.modal .modalPopup .btnWrap .sendBtn {
    background-color: #2db400;
    color: #fff;
}
.modal .modalPopup .btnWrap .closeBtn {
    background-color: #9b111e;
    color: #fff;
}
.modal .modalPopup .btnWrap .closeBtn:hover {
    background-color: #fff;
    color: #333;
}